<ion-header>
  <ion-navbar class="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add</ion-title>
    <ion-buttons class="add-row-top-buttons" right>
      <button ion-button ion-button clear icon-only class="top-buttons" 
              (click)="goToOtherPage(button.component)" 
              *ngFor="let button of topButtons">
        <ion-icon name="{{button.icon}}"></ion-icon>
      </button>
      <button ion-button ion-button clear icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (submit)="doSubmit($event)" [formGroup]="addRowForm">

    <ion-item class="add-row-sum">
      <ion-input type="number" value="" placeholder="Sum" formControlName="sum"></ion-input>
    </ion-item>

    <ion-item-group class="add-row-details">
      <!--
        TODO: count pictures & count notice
          `   make them clickable and add opportunity to watch available pictures and notice
      -->
      <ion-item>Picture (0)</ion-item>
      <ion-item>Notice (1)</ion-item>
    </ion-item-group>

    <ion-searchbar class="search-cat" (ionInput)="getItems($event)"></ion-searchbar>
    <!--
      TODO: make arrows to collapse separate groupse
    -->
    <ion-list radio-group formControlName="name">
      <ion-item-group *ngFor="let group of groups">
        <ion-item-divider color="light">{{ group.name }}</ion-item-divider>
        <ion-item *ngFor="let category of group.categories">
          <ion-label>{{ category }}</ion-label>
          <ion-radio value="{{ category }}"></ion-radio>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <div id="place"></div>

    <div class="submit">
      <ion-buttons class="add-row-submit">
        <button type="submit" ion-button clear icon-only>
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </div>

    <!--<button ion-button block type="submit" class="add-row-submit">OK</button>-->

  </form>

</ion-content>