<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add</ion-title>
    <ion-buttons class="add-row-top-buttons" right>
      <button ion-button ion-button clear icon-only class="top-buttons" (click)="goToOtherPage(button.component)" *ngFor="let button of topButtons">
        <ion-icon name="{{button.icon}}"></ion-icon>
      </button>
      <button ion-button ion-button clear icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (submit)="doSubmit($event)" [formGroup]="addRowForm">

    <ion-item>
      <ion-input type="number" value="" placeholder="Sum" formControlName="sum"></ion-input>
    </ion-item>

    <ion-item-group>
      <ion-item>Picture (0)</ion-item>
      <ion-item>Notice (1)</ion-item>
    </ion-item-group>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
    <ion-list radio-group formControlName="category">
      <ion-item-group *ngFor="let group of groups">
        <ion-item-divider color="light">{{ group.name }}</ion-item-divider>
        <ion-item *ngFor="let category of group.categories">
          <ion-label>{{ category }}</ion-label>
          <ion-radio value="{{ category }}"></ion-radio>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <!--<button type="submit" class="add-row-submit" ion-button clear icon-only>
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>-->

    <button ion-button block type="submit" class="add-row-submit">OK</button>

  </form>

</ion-content>