<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item-group>
    <ion-item>Picture (0)</ion-item>
    <ion-item>Notice (1)</ion-item>
  </ion-item-group>

  <form (submit)="doSubmit($event)" [formGroup]="addRowForm">

    <ion-item>
      <ion-input type="number" value="" placeholder="Sum" formControlName="sum"></ion-input>
    </ion-item>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
    <ion-list radio-group formControlName="category">
      <ion-item-group *ngFor="let group of groups">
        <ion-item-divider color="light">{{ group.name }}</ion-item-divider>
        <ion-item *ngFor="let category of group.categories">
          <ion-label>{{ category }}</ion-label>
          <ion-radio value="{{ category }}"></ion-radio>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <button ion-button type="submit" block>OK</button>
  </form>

  <ion-buttons class="add-row-buttons">
  <button ion-button (click)="goToOtherPage(button.component)" *ngFor="let button of buttons">
    <!--<ion-icon name="add-circle"></ion-icon>-->
    {{ button.name }}
  </button>
</ion-buttons>

</ion-content>