<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>category</ion-title>
      </ion-col>
      <ion-col>
        <ion-title>sum</ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let gridItem of gridData">
      <ion-col>
        <ion-title>{{ gridItem.date }}</ion-title>
      </ion-col>

      <ion-grid>
        <ion-row *ngFor="let itemData of gridItem.data">
          <ion-col>
            <ion-title>{{ itemData.name }}</ion-title>
          </ion-col>
          <ion-col>
            <ion-title>{{ itemData.sum }}</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-row>

</ion-grid>

<ion-buttons class="data-buttons">
  <button ion-button (click)="goToOtherPage(button.component)" *ngFor="let button of buttons">
    <!--<ion-icon name="add-circle"></ion-icon>-->
    {{ button.name }}
  </button>
</ion-buttons>

</ion-content>
