<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data</ion-title>
    <ion-buttons class="data-top-buttons" right>
      <button ion-button clear icon-only (click)="goToOtherPage(button.component)" *ngFor="let button of topButtons">
        <ion-icon name="{{button.icon}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item class="grid-item">
    <ion-row class="grid-title">
      <ion-col>category</ion-col>
      <ion-col>sum</ion-col>
    </ion-row>
  </ion-item>
  <ion-item class="grid-item" *ngFor="let gridItem of gridData">
    <ion-row class="grid-item-date">
      <ion-col>{{ gridItem.date }}</ion-col>
    </ion-row>

    <ion-row class="grid-item-data" *ngFor="let itemData of gridItem.data">
          <ion-col>{{ itemData.name }}</ion-col>
          <ion-col>{{ itemData.sum }}</ion-col>
    </ion-row>
  </ion-item>

</ion-content>
 
<ion-buttons class="data-add-button">
  <button ion-button clear icon-only (click)="goToOtherPage(addButton.component)">
    <ion-icon name="{{addButton.icon}}"></ion-icon>
  </button>
</ion-buttons>
