ion-navbar.header > div{
    background-color: #FFC43A;
}

.data-top-buttons {
    button {
        margin: 0 20px 0 0;
    }
}

.data-add-button {
    position: fixed;
    bottom: 0;
    right: 0;

    button {
        font-size: 35px;
        height: 55px;
        color: #FFC43A;
        margin: 0 15px 15px 0;

        ion-icon {
            padding: 0;
        }
    }
}

div.grid-item {
    margin: 0 16px 0 16px;

    &:nth-child(2n) {
        background: #f4f4f4; /* Цвет фона */
    }
    &:nth-child(1) {
        background: grey; /* Цвет фона */
        color: #fff; /* Цвет текста */
    }

    ion-row.grid-title,
    ion-row.grid-item-data,
    ion-row.grid-item-more {
        margin: 0 0 0 32px;

        ion-col {
            flex-basis: 30px;
            flex-grow: 8;
            align-self: center;

            &:last-child {
                flex-grow: 1;
            }
        }
    }

    ion-row.grid-title{
        padding: 0;
        font-size: x-large;
        .grid-more {
            color: #fff;
        }
    }

    ion-row.grid-item-date {
        margin: 0 16px 0 16px;
        border-bottom: 1px solid grey;
    }
}

.grid-content {
        padding: 15px 0 15px 0;
    }